@model List<_11_DangThuyTrang_BussinessObjects.Models.Ticket>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ticket History</title>
    <style>
        body {
            background-image: url('/img/pngtree-background-white-gray-gradient-business-vector-picture-image_1996067.jpg');
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>
</head>
<body>
    <h1>User's Ticket List</h1>

    @if (@Model != null && @Model.Any())
    {
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Created Time</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Payment Method</th>
                    <th>Showroom</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ticket in @Model)
                {
                    <tr>
                        <td>@ticket.Id</td>
                        <td>@ticket.CreatedTime.ToString("dd/MM/yyyy HH:mm:ss")</td>
                        <td>@ticket.Quantity</td>
                        <td>@string.Format("{0:N0}", ticket.TotalPrice)</td>
                   
                            @if (ticket.PaymentMethod != null)
                            {
                            <td>
                                @ticket.PaymentMethod.Name
                                </td>
                            
                            }
                            else
                            {
                                  <td>
                                Chưa thanh toán
                            </td>
                            }
                     
                        <td>@ticket.Showroomseat.Showroom.Name</td>
                        <td><a type="button" class="btn btn-primary" href="@Url.Action("HistoryTicketDetails", "Ticket", new { id = ticket.Id })">Details</a></td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No tickets found for this user.</p>
    }
</body>
</html>
