@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <style>
        /* .container {
                                            width: 100%;
                                            margin: 0;
                                        } */

        h1 {
            text-align: center;
        }

        .main-content h5 {
            text-align: center;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        tr:hover {
            background-color: #f5f5f5;
        }

        ul, ol, li {
            list-style: none;
            float: left;
            text-decoration: none;
        }

        .seat {
            border: 1px solid dashed;
            width: 22px;
            height: 22px;
            font-size: 7pt;
            margin: 0 1px;
        }

        .top-content {
            width: 100%;
            padding: 10px;
            background: #fff1ce;
        }

        .ticketbox {
            text-align: center;
            width: 80%;
            height: auto;
        }

        .icon:before {
            content: "";
            display: inline-block;
            width: 18px;
            height: 18px;
            margin: 0 5px 0 0;
        }

        .main-content {
            margin-top: 20px;
        }

        .bottom-content {
            background-color: #000;
            color: white;
            margin-top: 30px;
            line-height: 18px;
            height: 200px;
            width: 100%;
            text-align: center;
            display: flex;
        }

        .btn-previous, btn-next {
            /* bottom: 20px; */
            width: 106px;
            height: 108px;
            margin-top: 30px;
        }

        .btn-previous {
            /* background-position: -152px 0; */
            width: 106px;
            display: inline-block;
            margin: 0 0 0 3px;
            height: 108px;
            /* vertical-align: top; */
        }

        .btn-next {
            /* background-position: -152px -441px; */
        }

        .cart {
            width: 750px;
        }

            .cart img {
                width: 74px;
                height: 108px;
                display: inline-block;
            }

            .cart item {
                width: 30%;
                margin-left: 1%;
                font-size: 12px;
            }

            .cart ul {
                width: 100%;
            }

            .cart li {
                text-decoration: none;
            }

        .product-details {
            display: inline-block;
        }
    </style>
</head>
<body>
    <div class="container">

        <div class="page-title">
            <h1>Booking Online</h1>
        </div>

        <div class="top-content">
            <div class="mb-2">
                <p>@Model.ShowRoomName | @Model.TheaterName | Số ghế: @Model.NumberSeat</p>
                <p>@Model.Date @Model.StartTime</p>
            </div>
        </div>

        <div class="main-content">
            <div class="mb-2">
                <h5>Người / Ghế</h5>
            </div>
            <div class="ticketbox">
                @foreach (var i in Model.ShowRoomSeats)
                {
                    <div class="row">

                        @for (int j = 0; j < Model.ShowRoomSeats.Count; j++)
                        {
                            <div class="seat" id="@Model.ShowRoomSeats[j]">@Model.ShowRoomSeats[j].Seat.Name</div>
                            if (Model.ShowRoomSeats[j].Seat.Name.IndexOf('A') == -1)
                            {
                                break;
                            }
                        }
                    </div>
                }
                

                @*  <div class="row">
                <div class="seat">A1</div>
                <div class="seat">A2</div>
                <div class="seat">A3</div>
                <div class="seat">A4</div>
                <div class="seat">A5</div>
                </div>
                <div class="row">
                <div class="seat">A1</div>
                <div class="seat">A2</div>
                <div class="seat">A3</div>
                <div class="seat">A4</div>
                <div class="seat">A5</div>
                </div> *@
            </div>
            <div class="ticketbox-notice">
                <div class="iconlist">
                    <div class="icon">
                        Đã chọn
                    </div>
                    <div class="icon">
                        Không thể chọn
                    </div>
                </div>

            </div>
        </div>

        <div class="bottom-content">
            <a class="btn-previous" href="" title="previous">Previous</a>

            <div class="cart">
                <ul>
                    <li class="item">
                        <div class="product-details">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>
                                            <img src="@Model.MovieImage" alt="Product Details" />
                                        </td>
                                        <td>
                                            <p>@Model.MovieTitle</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </li>

                    <li class="item">
                        <div class="product-details">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>Rạp</td>
                                        <td>@Model.TheaterName</td>
                                    </tr>
                                    <tr>
                                        <td>Suất chiếu</td>
                                        <td>@Model.StartTime @Model.Date</td>
                                    </tr>
                                    <tr>
                                        <td>Phòng chiếu</td>
                                        <td>@Model.ShowRoomName</td>
                                    </tr>
                                    <tr>
                                        <td>Ghế</td>
                                        <td>A1, A2</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </li>

                    <li class="item">
                        <div class="product-details">
                            <table>
                                <thead>
                                    <tr>
                                        <td>Giá vé</td>
                                        <td>@Model.PriceTicket</td>
                                    </tr>
                                    <tr>
                                        <td>Tổng</td>
                                        <td>number ticket</td>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </li>
                </ul>
            </div>

            <a class="btn-next" href="" title="next">Next</a>
        </div>
    </div>
</body>
</html>

