@model _11_DangThuyTrang_BussinessObjects.DTO.MovieDetailDTO

@{
    ViewData["Title"] = "Detail";
}
<style>
    body {
        background-image: url('/img/pngtree-background-white-gray-gradient-business-vector-picture-image_1996067.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }

</style>
<h2 style="text-align:center">Movie Details</h2>
<h3>Nội Dung Phim</h3>
<hr />
<div class="film-detail">

    <div class="film-image">
        <img src="@Model.Image" alt="@Model.Title" />
    </div>
    <div class="film-info">
        <br />
        <h3>@Model.Title</h3>
        <p><span>Đạo diễn:</span> @Model.Director</p>
        <p><span>Diễn viên:</span> @Model.Actors</p>
        <p><span>Thể loại:</span> @Model.Genre</p>
        <p><span>Ngày công chiếu:</span> @Model.PurchaseTime.ToString("dd/MM/yyyy")</p>
        <p><span>Thời lượng:</span> @Model.Length phút</p>
        <p><span>Ngôn ngữ:</span> @Model.Language</p>
        <p><span>Phân loại:</span> @Model.Rated</p>
        <button class="btn btn-danger" id="bookTicketBtn">Đặt Vé</button>
    </div>
</div>

<script>
    function formatDate(date) {
        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear().toString().slice(2);

        // Đảm bảo các số nhỏ hơn 10 được thêm số 0 phía trước
        if (day < 10) {
            day = "0" + day;
        }
        if (month < 10) {
            month = "0" + month;
        }

        return day + "/" + month + "/" + year;
    }

    document.getElementById("bookTicketBtn").addEventListener("click", function () {
        // Lấy ngày hiện tại
        var currentDate = formatDate(new Date());
        // Chuyển hướng đến trang Index của ShowTimeController và truyền tham số ngày hiện tại
        window.location.href = "/ShowTime/Index?date=" + currentDate;
    });
</script>

<style>
    button{
        margin-top: 10px;
    }
    span{
       font-weight: bold
    }
    .film-detail {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .film-image {
        flex: 0 0 auto;
        margin-right: 20px;
        width: 20%;
    }

        .film-image img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }

    .film-info {
        flex: 1 1 auto;
        width: 75%;
        margin-left: 5%;
    }

        .film-info h2 {
            font-size: 24px;
            margin-bottom: 10px;
        }

        .film-info h3 {
            font-size: 20px;
            margin-bottom: 10px;
        }

        .film-info p {
            margin-bottom: 5px;
        }
</style>
