@model _11_DangThuyTrang_BussinessObjects.Models.Movie
@{
}
<style>
    body {
        background-image: url('/img/pngtree-background-white-gray-gradient-business-vector-picture-image_1996067.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>
<h1>Movie details</h1>

<div class="mb-2">
    <label class="form-label">Movie Id</label>
    <input type="number" class="form-control" value="@Model.Id" disabled />
</div>
<div class="mb-2">
    <label class="form-label">Title</label>
    <input type="text" class="form-control" value="@Model.Title" disabled />
    <img src="@Model.Image" alt="@Model.Title" style="height : 25%; width: 25%"/>
</div>
<div class="mb-2">
    <label class="form-label">Description</label>
    <input type="text" class="form-control" value="@Model.Description" disabled />
</div>
<div class="mb-2">
    <label class="form-label">Director</label>
    <input type="text" class="form-control" value="@Model.Director" disabled />
</div>
<div class="mb-2">
    <label class="form-label">Length</label>
    <input type="number" class="form-control" value="@Model.Length" disabled />
</div>
<div class="mb-2">
    <label class="form-label">Category</label>
    <input type="text" class="form-control" value="@Model.Genre?.Name" disabled />
</div>


@Html.ActionLink("Back to Movie list", "Index")