@model IEnumerable<_11_DangThuyTrang_BussinessObjects.Models.Movie>
@{
    ViewData["Title"] = "Movie";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <style>
        
        body {
            background-image: url('/img/pngtree-background-white-gray-gradient-business-vector-picture-image_1996067.jpg');
            background-size: cover;
            background-repeat: no-repeat;
        }
        h2 {
            text-align: center;
            margin-top: 30px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 30px;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        .column-info{
            width: 15%;
        }



        tr:hover {
            background-color: #f5f5f5;
        }

        .button-container {
            text-align: left;
            margin-top: 30px;
            display: flex;
            place-items: stretch
        }

        .search-container {
            margin-left: 20px;
        }

        input[type=text] {
            padding: 6px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        button[type=submit] {
            background-color: #198754;
            color: white;
            padding: 6px 10px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

            button[type=submit]:hover {
                background-color: #45a049;
            }

        /* Định dạng các nút */
        .action-buttons button {
            margin-right: 5px;
        }

        .no-results {
            text-align: center;
            font-weight: bold;
            color: red;
            margin-top: 20px;
        }
        /* Định dạng phân trang */
        .pagination {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
        }

        /* Định dạng các nút phân trang */
        .page-link {
            display: inline-block;
            padding: 5px 10px;
            margin-right: 5px;
            border: 1px solid #ccc;
            text-decoration: none;
            color: #333;
        }

            /* Định dạng nút phân trang được chọn */
            .page-link.active {
                background-color: #007bff;
                color: #fff;
            }



    </style>
</head>
<body>
    <h2>Movies</h2>
    <div class="button-container" >
        <a href="@Url.Action("Create")" class="btn btn-success">Create New</a>
        <div class="search-container">
            <form method="get" action="@Url.Action("Index")">
                <label for="keyword">Title </label>
                <input type="text" name="keyword" value="@ViewBag.Keyword"/>
                <button type="submit">Search</button>
            </form>
        </div>
           
    </div>
    

    @if (Model.Any())
    {
        <table>
            <thead>
                <tr>
                    <th class="column-info">ID</th>
                    <th class="column-info">Title</th>
                    <th class ="column-info">Director</th>
                    <th class="column-info">Language</th>
                    <th class="column-info">Price Ticket</th>
                    <th class="column-info">Genre</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class ="column-info">@Html.DisplayFor(modelItem => item.Id)</td>
                        <td class="column-info">@Html.DisplayFor(modelItem => item.Title)</td>
                        <td class="column-info">@Html.DisplayFor(modelItem => item.Director)</td>
                        <td class="column-info">@Html.DisplayFor(modelItem => item.Language)</td>
                        <td class="column-info">@Html.DisplayFor(modelItem => item.PriceTicket)</td>
                        <td class="column-info">@Html.DisplayFor(modelItem => item.Genre.Name)</td>
                        <td class="action-buttons">
                            <button class="btn btn-success" onclick="window.location.href='@Url.Action("Detail", new { id = item.Id })'">Detail</button>
                        </td>
                        <td class="action-buttons">
                            <button class="btn btn-warning" onclick="window.location.href='@Url.Action("Edit", new { id = item.Id })'">Edit</button>
                        </td>
                        <td class="action-buttons">
                            <button class="btn btn-danger" onclick="window.location.href='@Url.Action("Delete", new { id = item.Id })'">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="no-results">
            Không tìm thấy tên phim.
        </div>
    }
    @if (Model.Any())
    {
        <div class="pagination">
            @for (int i = 1; i <= ViewBag.TotalPages; i++)
            {
                <a href="@Url.Action("Index", new { page = i })" class="page-link @(ViewBag.PageNumber == i ? "active" : "")">@i</a>
            }
        </div>
    }
</body>
</html>
