@model List<_11_DangThuyTrang_BussinessObjects.Models.Ticket>

@{
    ViewData["Title"] = "Ticket";
}

<style>
    body {
        background-image: url('/img/pngtree-background-white-gray-gradient-business-vector-picture-image_1996067.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
    .payment-method-container,
    .ticket-info-container {
        border: 1px solid #ccc;
        padding: 10px;
        margin-bottom: 20px;
    }
</style>

<h1 style="text-align: center; margin-bottom: 50px;">Nhập thông tin/Thanh Toán</h1>

<div class="row">
    <div class="col-md-6">
        <div class="payment-method-container">
            <h2>Phương thức thanh toán</h2>
            <form>
                <div class="form-group">
                    <label for="paymentMethod">Chọn phương thức thanh toán:</label>
                    <select class="form-control" id="paymentMethod">
                        <option value="VNPAY">Thanh toán online bằng VNPAY</option>
                    </select>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-6">
        <div class="ticket-info-container">
            <h2>Thông tin vé</h2>
            <hr/>
            <div class="ticket-info">
                <div class="ticket-details">
                    @foreach (var ticketGroup in Model.GroupBy(ticket => new { ticket.Showtime.Movie.Title, ticket.Showtime.Movie.Image }))
                    {
                        var groupTicket = ticketGroup.First();
                        <div style="overflow: hidden;">
                            <div style="float: left; margin-right: 10px;">
                                <h4>@groupTicket.Showtime.Movie.Title</h4>
                                <img src="@groupTicket.Showtime.Movie.Image" alt="@groupTicket.Showtime.Movie.Title" style="max-width: 100px; max-height: 150px;">
                            </div>
                            <div>
                                <div style="float: right; width: 20%;">
                                    <div style="margin-bottom: 10px;">
                                        @{
                                            var totalQuantity = ticketGroup.Sum(t => t.Quantity);
                                            var seatType = ticketGroup.First().Showroomseat.Type;
                                        }
                                        @if (seatType.ToLower() == "thường")
                                        {
                                            <p>@totalQuantity x ghế @seatType</p>
                                        }
                                        else
                                        {
                                            @foreach (var ticket in ticketGroup)
                                            {
                                                <p>@ticket.Quantity x ghế @ticket.Showroomseat.Type</p>
                                            }
                                        }
                                        <p>@string.Join(", ", ticketGroup.Select(t => t.Showroomseat.Seat.Name))</p>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <hr />
                    }
                </div>
            </div>
            @{
                // Tính tổng tiền của các vé
                double totalPrice = Model.Sum(ticket => ticket.TotalPrice ?? 0);
            }
            <h4>Tổng tiền: @totalPrice.ToString("N0") VNĐ</h4>
            <button class="btn btn-primary">Thanh toán</button>
        </div>
    </div>
</div>
